body {margin:0;}

#logo-container {
  position: fixed;
  bottom: 40px;
  right: 40px;
  object-fit: scale-down;
  border: 0px solid none;
}
#insta {
  width: 50px;
  height:50px;

}
.sui {
  float: left;
  border: 4px solid rgb(161, 48, 48);
  margin-right: 8px;
  margin-top: 6px;
  padding: 2px;
}
.we {
  width: 100%;
  height: 50%;
  border: 2px solid #ffffff;
  object-fit: fill;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
    border: 2px solid #cb334c;
    object-fit: fill;
  }
  
  h1 {padding: 2px; border: 4px solid rgb(200, 72, 72); margin: 0px; color:rgb(165, 73, 89); text-align: center;}
  body {
    background-image: url("mukrang's photo/4871703.jpg");
      background-color: rgb(255, 255, 255); margin: 5px; 
      background-repeat: no-repeat;
      background-attachment: fixed;
  }
  blockquote {
      color: rgb(255, 0, 0);
  }
  p {
      color: rgb(202, 61, 71); 
      font-size: 20px; 
      font-family: Verdana; 
      text-align: justify;
  }
  a:link, a:visited {
    color: #ffffff;
      text-align: center;
      text-decoration: none;
      display: inline-block;
  } 
  
  a:hover, a:active {
  background-color: #cb334c;
  }


  ul {
          list-style-type:none;
          background-color: rgb(58, 133, 214);
          overflow:auto;
          color: rgb(0, 0, 0); 
          font-size: 20px; 
          font-family: Verdana;
          margin: 0%;
      }
  
      li{
          float:inline-start;
      }
      li a {
          display: block;
          padding: 15px;
          text-decoration: none;
          color: rgb(0, 0, 0);
  
      }
  
      li:hover{
          background-color:#cb334c;
      }
          body {margin:0;}

          .navbar {
            overflow: hidden;
            background-color: #cb334c;
            position: fixed;
            top: 0;
            width: 100%;
          }
          
          .navbar a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
          }
          
          .navbar a:hover {
            background: rgb(58, 133, 214);
            color: rgb(255, 255, 255);
          }

          .sticky {
            position: fixed;
            top: 0;
            width: 100%;
          }
          
          .main {
            padding: 16px;
            margin-top: 30px;
            height: 1500px;
            
          }
          * {
            box-sizing: border-box;
          }

          
          /* The grid: Four equal columns that floats next to each other */

          
          /* Clear floats after the columns */
          .row:after {
            content: "";
            display: table;
            clear: both;
          }
          
          /* The expanding image container */
          .container {
            position: fixed;
            display: none;
          }

          
          /* Closable button inside the expanded image */
          .closebtn {
            position: absolute;
            top: 10px;
            right: 15px;
            color: white;
            font-size: 35px;
            cursor: pointer;
          }
          * {
            box-sizing: border-box;
          }
          
          body {
            margin: 0;
            font-family: Arial;
          }
          
          /* The grid: Four equal columns that floats next to each other */
          .column {
            float: left;
            padding: 10px;
            size: 50%;
          }
          
          /* Style the images inside the grid Dont delete*/
          .column img {
            opacity: 1; 
            cursor: pointer; 
          }
      
          
          /* Clear floats after the columns */
          .row:after {
            content: "";
            display: table;
            clear: both;
          }
          
          /* The expanding image container */
          .container {
            position:sticky;
            display:contents;
          }
          
          /* Closable button inside the expanded image */
          .closebtn {
            position: absolute;
            top: 10px;
            right: 15px;
            color: white;
            font-size: 35px;
            cursor: pointer;
          }